<?xml version='1.0' encoding='UTF-8'?>
<data>
    <urldata>
        <url>1305120114</url>
        <adverurl>1305120114</adverurl>
    </urldata>
    <urldata>
        <url>1305120114</url>
        <adverurl>1305120114</adverurl>
    </urldata>
        <urldata>
        <url>1305120114</url>
        <adverurl>1305120114</adverurl>
    </urldata>
        <urldata>
        <url>1305120114</url>
        <adverurl>1305120114</adverurl>
    </urldata>
        <urldata>
        <url>1305120114</url>
        <adverurl>1305120114</adverurl>
    </urldata>
        <urldata>
        <url>1305120114</url>
        <adverurl>1305120114</adverurl>
    </urldata>
</data>